{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lition - Staking Pools 2.0</title>
	<meta content="lition-pool" name="keywords">
	<meta content="lition-pool - Staking Pool" name="description">
	<meta content="lition-pool" name="author">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"><!-- Font CSS (Via CDN) -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css"><!-- Theme CSS -->
	<link href="{% static 'css/assets/skin/default_skin/css/theme.min.css' %}" rel="stylesheet" type="text/css"><!-- Plugin CSS -->
	<link href="{% static 'css/vendor/plugins/bstour/bootstrap-tour.css' %}" rel="stylesheet" type="text/css"><!-- Favicon -->
    <link rel="icon" href="https://www.lition.io/wp-content/uploads/2018/04/cropped-Lition_icon_secondary-01-32x32.png" sizes="32x32"/>
    <script type="text/javascript" src="{% static 'js/pnglib.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/identicon.js' %}"></script>
    <link rel="shortcut icon" href="https://lition.io/img/favicon-32x32.png" />
</head>
<body class="dashboard-page sb-l-o sb-r-c sb-top" style="min-height: 0px!important;">
	<!-- Start: Main -->
	<div id="main" style="min-height: 0px!important;">
		<!-- Start: Header -->
		<header class="navbar navbar-fixed-top" style="background-color: #051a2d">
			<div class="navbar-branding" style="background-color: #2e3748 !important;text-align: center">
                <img style="height:60px;" src="{% static 'images/lition_logo.png' %}" title="lition">
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li style="margin-top: 14px!important;color: lightgrey;margin-left: 25px!important">
					<p><img style="padding-bottom: 3px" alt="avatar" class="mw30 br64 identicon mr10" src="{% static 'images/ether.png' %}"> <span class="account">Unlock your wallet</span></p>
				</li>
			</ul>
		</header><!-- End: Header -->
		<!-- Start: Sidebar -->
		<aside class="nano nano-success affix sidebar-light" id="sidebar_left">
			<div class="nano-content">
				<!-- sidebar menu -->
				<ul class="nav sidebar-menu">
					<li class="sidebar-label pt20">Management</li>
					<li>
						<a class="accordion-toggle menu-open" href="/pools/"><span class="fa fa-users"></span> <span class="sidebar-title">Pool Staking</span> <span class="label label-rounded label-success">2</span></a>
                        <ul class="nav sub-nav">
                          <li>
                            <a href="/lition-pool/" style="padding-bottom: 10px;padding-top: 10px">
                              <span class="fa fa-circle-o"></span> Lition Pool
                            </a>
                          </li>
                          <li>
                              <a href="/lition-pool2/" style="padding-bottom: 10px;padding-top: 10px">
                                <span class="fa fa-circle-o"></span> Lition Pool 2
                              </a>
                          </li>
                        </ul>
					</li>
                    <li>
                        <a href="/balances/"><span class="glyphicon glyphicon-usd"></span> <span class="sidebar-title">Balances</span></a>
                    </li>
                    <li class="active">
                        <a href="/history/"><span class="glyphicon glyphicon-list-alt"></span> <span class="sidebar-title">History</span></a>
                    </li>
					<li class="sidebar-label pt20">Information</li>
					<li>
						<a target="_blank" href="https://medium.com/lition-blog/getting-started-with-lition-pool-staking-how-to-deposit-733ff18cb8f3"><span class="glyphicon glyphicon-info-sign"></span> <span class="sidebar-title">Staking Deposit Tutorial</span></a>
					</li>
					<li>
						<a href="/faq/"><span class="glyphicon glyphicon-question-sign"></span> <span class="sidebar-title">F.A.Q.</span></a>
					</li>
				</ul>
			</div>
		</aside><!-- Start: Content-Wrapper -->
		<!-- Start: Content-Wrapper -->
		<section id="content_wrapper">
			<header class="hidden-xs" id="topbar">
				<div class="topbar-left">
					<ol class="breadcrumb">
						<li class="crumb-active">
							<a href="/history/">History</a>
						</li>
					</ol>
				</div>
			</header><!-- Begin: Content -->
            <section class="table-layout animated fadeIn" id="content">
                    <!-- begin: .tray-center -->
                    <div class="tray tray-center p20 va-t posr">

                        <div class="panel">

                          <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" id="litionPool-tab" data-toggle="tab" href="javascript:$('#litionPool').addClass('show active');$('#litionPool2').removeClass('show active');" role="tab" aria-controls="home" aria-selected="true">Lition Pool</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="litionPool-tab2" data-toggle="tab" href="javascript:$('#litionPool2').addClass('show active');$('#litionPool').removeClass('show active');" role="tab" aria-controls="home">Lition Pool 2</a>
                              </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                              <div class="tab-pane show active p20" id="litionPool" role="tabpanel" aria-labelledby="litionPool-tab">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-visible mt20" id="spy2">
                                            <div class="panel-heading" style="border-top:1px solid #eee;">
                                                <div class="panel-title hidden-xs">
                                                    Your last events in Staking Pool
                                                </div>
                                            </div>
                                            <div class="panel-body pn">
                                                <table cellspacing="0" class="table table-striped table-hover" id="datatable" width="100%">
                                                    <thead style="cursor: pointer">
                                                        <tr>
                                                            <th>Event</th>
                                                            <th>Description</th>
                                                            <th>Date</th>
                                                            <th>Transaction</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- end: .tray-center -->
                                </div>

                              </div>
                          </div>

                          <div class="tab-pane p20" id="litionPool2" role="tabpanel" aria-labelledby="litionPool-tab2">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-visible mt20" id="spy2">
                                            <div class="panel-heading" style="border-top:1px solid #eee;">
                                                <div class="panel-title hidden-xs">
                                                    Your last events in Staking Pool 2
                                                </div>
                                            </div>
                                            <div class="panel-body pn">
                                                <table cellspacing="0" class="table table-striped table-hover" id="datatable2" width="100%">
                                                    <thead style="cursor: pointer">
                                                        <tr>
                                                            <th>Event</th>
                                                            <th>Description</th>
                                                            <th>Date</th>
                                                            <th>Transaction</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- end: .tray-center -->
                                </div>

                              </div>
                          </div>

                        </div>
                    </div>
                </section><!-- End: Content -->
            </section>
		</section>
	</div><!-- End: Main -->

    {% csrf_token %}

    <script type="text/javascript">
          if (typeof window.ethereum !== 'undefined') {
            window.ethereum.enable();
            const web3 = new Web3(window.ethereum);
            web3.eth.getAccounts((err, accounts) => {
                if (err) {
                    throw err;
                }
                if (accounts.length == 0) {
                    console.log('Locked');
                } else {
                    var wallet = accounts[0];
                    document.getElementsByClassName('account')[0].innerHTML = wallet.substring(0,6) + '...' + wallet.substring(38,42);
                    const data = new Identicon(wallet).toString();
                    document.getElementsByClassName('identicon')[0].setAttribute('src', 'data:image/png;base64,' + data);
                    loadEvents1(wallet);
                    loadEvents2(wallet);
                }
            });
        } else {
              console.log('Unavailable');
        }
    </script>

	<script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <script type="text/javascript">
        const contractInfoAbi = '[{"inputs":[{"internalType":"contract IERC20","name":"_litionToken","type":"address"}],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"totalStaked","type":"uint256"},{"indexed":false,"internalType":"uint8","name":"lockupPeriod","type":"uint8"},{"indexed":false,"internalType":"bool","name":"compound","type":"bool"}],"name":"NewStake","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"delta","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"total","type":"uint256"}],"name":"RewardsAccredited","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"total","type":"uint256"}],"name":"RewardsWithdrawn","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"}],"name":"StakeEnabledToBeFinished","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"totalRecovered","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"}],"name":"StakeFinishedByUser","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"delta","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"total","type":"uint256"}],"name":"StakeIncreased","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"}],"name":"StakeMigrated","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"totalRecovered","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"}],"name":"StakeRemoved","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"internalType":"uint256","name":"total","type":"uint256"}],"name":"TransferredToVestingAccount","type":"event"},{"payable":true,"stateMutability":"payable","type":"fallback"},{"constant":false,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"},{"internalType":"uint256","name":"_total","type":"uint256"}],"name":"_accredit","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"uint256","name":"amount","type":"uint256"},{"internalType":"address","name":"_sendTo","type":"address"}],"name":"_extractLitSentByMistake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"_forceFinishStake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_createdOn","type":"uint256"},{"internalType":"uint256","name":"_amount","type":"uint256"},{"internalType":"uint8","name":"_lockupPeriod","type":"uint8"},{"internalType":"bool","name":"_compound","type":"bool"},{"internalType":"uint256","name":"_rewards","type":"uint256"}],"name":"_migrateStake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"_removeStaker","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[],"name":"_switchPaused","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"uint256","name":"_total","type":"uint256"}],"name":"_transferLITToVestingAccount","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"newOwner","type":"address"}],"name":"_transferOwnership","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"internalType":"uint256","name":"_timestamp","type":"uint256"},{"internalType":"uint8","name":"_lockupPeriod","type":"uint8"}],"name":"calculateFinishTimestamp","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"pure","type":"function"},{"constant":false,"inputs":[{"internalType":"uint256","name":"_amount","type":"uint256"},{"internalType":"uint8","name":"_lockupPeriod","type":"uint8"},{"internalType":"bool","name":"_compound","type":"bool"}],"name":"createNewStake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"finishStake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"getLockupFinishTimestamp","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"getStake","outputs":[{"internalType":"uint256","name":"createdOn","type":"uint256"},{"internalType":"uint256","name":"totalStaked","type":"uint256"},{"internalType":"uint8","name":"lockupPeriod","type":"uint8"},{"internalType":"bool","name":"compound","type":"bool"},{"internalType":"uint256","name":"rewards","type":"uint256"},{"internalType":"bool","name":"finished","type":"bool"},{"internalType":"uint256","name":"lockupFinishes","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"getTotalInStake","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"getTotalStakers","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"getTotalStakes","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"internalType":"address","name":"_staker","type":"address"}],"name":"getTotalStakesByStaker","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"owner","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"paused","outputs":[{"internalType":"bool","name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"internalType":"address","name":"","type":"address"},{"internalType":"uint256","name":"","type":"uint256"}],"name":"stakeListBySender","outputs":[{"internalType":"uint256","name":"createdOn","type":"uint256"},{"internalType":"uint256","name":"totalStaked","type":"uint256"},{"internalType":"uint8","name":"lockupPeriod","type":"uint8"},{"internalType":"bool","name":"compound","type":"bool"},{"internalType":"uint256","name":"rewards","type":"uint256"},{"internalType":"bool","name":"finished","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"internalType":"uint256","name":"","type":"uint256"}],"name":"stakers","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"withdrawRewards","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"}]';
        const contractInfoAbi2 = '[{"constant":false,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"},{"internalType":"uint256","name":"_total","type":"uint256"}],"name":"_accredit","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256[]","name":"_totals","type":"uint256[]"}],"name":"_accreditMultiple","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"uint256","name":"amount","type":"uint256"},{"internalType":"address","name":"_sendTo","type":"address"}],"name":"_extractLitSentByMistake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"_forceFinishStake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"_removeStaker","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[],"name":"_switchPaused","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"uint256","name":"_total","type":"uint256"}],"name":"_transferLITToVestingAccount","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"address","name":"newOwner","type":"address"}],"name":"_transferOwnership","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"uint256","name":"_amount","type":"uint256"},{"internalType":"uint8","name":"_lockupPeriod","type":"uint8"},{"internalType":"bool","name":"_compound","type":"bool"}],"name":"createNewStake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"finishStake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"contract IERC20","name":"_litionToken","type":"address"}],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"totalStaked","type":"uint256"},{"indexed":false,"internalType":"uint8","name":"lockupPeriod","type":"uint8"},{"indexed":false,"internalType":"bool","name":"compound","type":"bool"}],"name":"NewStake","type":"event"},{"constant":false,"inputs":[{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"restake","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"delta","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"total","type":"uint256"}],"name":"RewardsAccredited","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"total","type":"uint256"}],"name":"RewardsWithdrawn","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"}],"name":"StakeEnabledToBeFinished","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"totalRecovered","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"}],"name":"StakeFinishedByUser","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"delta","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"total","type":"uint256"}],"name":"StakeIncreased","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"}],"name":"StakeMigrated","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"totalRecovered","type":"uint256"},{"indexed":false,"internalType":"uint256","name":"index","type":"uint256"}],"name":"StakeRemoved","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"internalType":"address","name":"staker","type":"address"},{"indexed":false,"internalType":"uint256","name":"totalStaked","type":"uint256"},{"indexed":false,"internalType":"uint8","name":"lockupPeriod","type":"uint8"},{"indexed":false,"internalType":"bool","name":"compound","type":"bool"}],"name":"StakeRestakedByUser","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"internalType":"uint256","name":"total","type":"uint256"}],"name":"TransferredToVestingAccount","type":"event"},{"payable":true,"stateMutability":"payable","type":"fallback"},{"constant":false,"inputs":[{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"withdrawRewards","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"internalType":"uint256","name":"_timestamp","type":"uint256"},{"internalType":"uint8","name":"_lockupPeriod","type":"uint8"}],"name":"calculateFinishTimestamp","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"pure","type":"function"},{"constant":true,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"getLockupFinishTimestamp","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"internalType":"address","name":"_staker","type":"address"},{"internalType":"uint256","name":"_index","type":"uint256"}],"name":"getStake","outputs":[{"internalType":"uint256","name":"createdOn","type":"uint256"},{"internalType":"uint256","name":"totalStaked","type":"uint256"},{"internalType":"uint8","name":"lockupPeriod","type":"uint8"},{"internalType":"bool","name":"compound","type":"bool"},{"internalType":"uint256","name":"rewards","type":"uint256"},{"internalType":"bool","name":"finished","type":"bool"},{"internalType":"uint256","name":"lockupFinishes","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"getTotalInStake","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"getTotalStakers","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"getTotalStakes","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"internalType":"address","name":"_staker","type":"address"}],"name":"getTotalStakesByStaker","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"owner","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"paused","outputs":[{"internalType":"bool","name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"internalType":"address","name":"","type":"address"},{"internalType":"uint256","name":"","type":"uint256"}],"name":"stakeListBySender","outputs":[{"internalType":"uint256","name":"createdOn","type":"uint256"},{"internalType":"uint256","name":"totalStaked","type":"uint256"},{"internalType":"uint8","name":"lockupPeriod","type":"uint8"},{"internalType":"bool","name":"compound","type":"bool"},{"internalType":"uint256","name":"rewards","type":"uint256"},{"internalType":"bool","name":"finished","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"internalType":"uint256","name":"","type":"uint256"}],"name":"stakers","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"}]';

        function getCookie(c_name)
        {
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
         }

        function loadEvents1(wallet) {
            $.ajax({
              headers: { "X-CSRFToken": getCookie("csrftoken") },
              url: '/ajax_user_events/' + wallet + '/1',
              cache: false,
              contentType: false,
              processData: false,
              method: 'POST',
            })
            .done(function(data) {
                data.events.forEach(processLocalEvent);
            }
          );
        }

        function loadEvents2(wallet) {
            $.ajax({
              headers: { "X-CSRFToken": getCookie("csrftoken") },
              url: '/ajax_user_events/' + wallet + '/2',
              cache: false,
              contentType: false,
              processData: false,
              method: 'POST',
            })
            .done(function(data) {
                data.events.forEach(processLocalEvent2);
            }
          );
        }

        function processLocalEvent(element) {
            let description = '';
            if (element.compound) {
                description = 'Your stake number ' + element.index + ' was increased by ' + parseParamToLit(element.total)
            }
            else {
                description ='Your pending rewards for stake number ' + element.index + ' were updated by ' + parseParamToLit(element.total)
            }
            addRow(element.event, element.timestamp, description, "", 1);
        }

        function processLocalEvent2(element) {
            let description = '';
            if (element.compound) {
                description = 'Your stake number ' + element.index + ' was increased by ' + parseParamToLit(element.total)
            }
            else {
                description ='Your pending rewards for stake number ' + element.index + ' were updated by ' + parseParamToLit(element.total)
            }
            addRow(element.event, element.timestamp, description, "", 2);
        }

        const web3 = new Web3(window.ethereum);

        const MyContract = web3.eth.contract(JSON.parse(contractInfoAbi));
        const contractAddress = '{{ contractAddress }}';
        const contractInstance = MyContract.at(contractAddress);
        const eventFilter = contractInstance.allEvents({fromBlock: {{ seven_days_ago }}, toBlock: 'latest', filter: {}});
        eventFilter.get((error, events) => {
            events.forEach(processEvent);
        });

        const MyContract2 = web3.eth.contract(JSON.parse(contractInfoAbi2));
        const contractAddress2 = '{{ contractAddress2 }}';
        const contractInstance2 = MyContract.at(contractAddress2);
        const eventFilter2 = contractInstance2.allEvents({fromBlock: {{ seven_days_ago }}, toBlock: 'latest', filter: {}});
        eventFilter2.get((error, events) => {
            events.forEach(processEvent2);
        });

	    function timeConverter(UNIX_timestamp){
              var a = new Date(UNIX_timestamp * 1000);
              var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
              var year = a.getFullYear();
              var month = months[a.getMonth()];
              var m = a.getMonth()+1;
              if (m < 10) {
                  m = '0' + m;
              }
              var date = a.getDate();
              if (date < 10) {
                  date = '0' + date;
              }
              var hour = a.getHours();
              if (hour < 10) {
                  hour = '0' + hour;
              }
              var min = a.getMinutes();
              if (min < 10) {
                  min = '0' + min;
              }

              var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min;
              return time;
        }

        const zerosPadding = 1000000000000000000;

        function addMilesSeparator(num) {
            return num.toLocaleString();
        }

	    function parseParamToLit(total) {
            return addMilesSeparator(parseInt(total.toString(10)) / zerosPadding) + ' LIT';
        }

        function getEventDescription(element) {
            let description = '';

            if (element.args.staker != web3.eth.accounts[0]) {
                return;
            }
            if (element.event == 'NewStake') {
                let months = '1 month';
                if (element.args.lockupPeriod > 1) {
                    months = element.args.lockupPeriod + ' months';
                }
                let compound = '';
                if (element.args.compound) {
                    compound = ', compounding earned rewards';
                }
                description = 'You started a new stake of ' + parseParamToLit(element.args.totalStaked) + ' for a lockup period of ' + months + compound;
            }
            else if (element.event == 'RewardsAccredited') {
                let index = parseInt(element.args.index) + 1;
                description = 'Your rewards for stake number ' + index + ' were accredited by ' + parseParamToLit(element.args.delta) + ' and are now in total ' + parseParamToLit(element.args.total);
            }
            else if (element.event == 'StakeFinishedByUser') {
                let index = parseInt(element.args.index) + 1;
                description = 'You finished stake number ' + index + ' and ' + parseParamToLit(element.args.totalRecovered) + ' was recovered and transferred back to you';
            }
            else if (element.event == 'StakeRemoved') {
                let index = parseInt(element.args.index) + 1;
                description = 'Stake number ' + index + ' was removed and ' + parseParamToLit(element.args.totalRecovered) + ' was recovered and transferred back to you';
            }
            else if (element.event == 'RewardsWithdrawn') {
                let index = parseInt(element.args.index) + 1;
                description = 'You withdrew the rewards for stake number ' + index + ', for a total of: ' + parseParamToLit(element.args.total);
            }
            else if (element.event == 'StakeEnabledToBeFinished') {
                let index = parseInt(element.args.index) + 1;
                description = 'You can now finish stake number ' + index;
            }
            else if (element.event == 'StakeMigrated') {
                return;
            }
            else if (element.event == 'StakeIncreased') {
                return;
            }

            return description;
        }

        function processEvent(element) {
            try {
                const description = getEventDescription(element);
                if (!description) {
                    return;
                }
                web3.eth.getBlock(element.blockNumber , function(err,data){
                    addRow(element.event, data.timestamp, description, element.transactionHash, 1);
                });
            } catch(e) {
                console.log(e);
            }
        }

        function processEvent2(element) {
            try {
                const description = getEventDescription(element);
                if (!description) {
                    return;
                }
                web3.eth.getBlock(element.blockNumber , function(err,data){
                    addRow(element.event, data.timestamp, description, element.transactionHash, 2);
                });
            } catch(e) {
                console.log(e);
            }
        }

        function addRow(eventName, timestamp, description, transactionHash, table) {
            if (eventName == 'RewardsToBeAccreditedUpdated') {
                eventName = 'PendingRewardsUpdated';
            }
            const humanDate = timeConverter(timestamp);
            let link = '';
            if (transactionHash) {
                link = '<a target="_blank" href="https://etherscan.io/tx/' + transactionHash + '">' + transactionHash.substr(0, 6) + '...' + transactionHash.substr(62, 4) + '</a>';
            }
	        const row = '<tr><td>' + eventName + '</td><td>' + description + '</td><td><span style="display:none">' + timestamp + '</span>' + humanDate + '</td><td>' + link + '</td></tr>'

            if (table == 2) {
                $('#datatable2 tbody').append(row);
                sortTable($('#datatable2')[0], 2, true);
            } else {
                $('#datatable tbody').append(row);
                sortTable($('#datatable')[0], 2, true);
            }
        }

        $('#litionPool2').hide();

        function sortTable(table, col, reverse) {
            var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
                tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
                i;
            reverse = -((+reverse) || -1);
            tr = tr.sort(function (a, b) { // sort rows
                return reverse // `-1 *` if want opposite order
                    * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                        .localeCompare(b.cells[col].textContent.trim())
                       );
            });
            for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
        }

        function makeSortable(table) {
            var th = table.tHead, i;
            th && (th = th.rows[0]) && (th = th.cells);
            if (th) i = th.length;
            else return; // if no `<thead>` then do nothing
            while (--i >= 0) (function (i) {
                var dir = 1;
                th[i].addEventListener('click', function () {sortTable(table, i, (dir = 1 - dir))});
            }(i));
        }

        function makeAllSortable(parent) {
            parent = parent || document.body;
            var t = parent.getElementsByTagName('table'), i = t.length;
            while (--i >= 0) makeSortable(t[i]);
        }

        window.onload = function () {makeAllSortable();};
    </script>
</body>
</html>